streamlit
streamlit-webrtc
mediapipe==0.10.14; python_version < "3.13"
opencv-python-headless
numpy<2; python_version < "3.13"
numpy; python_version >= "3.13"
pillow
protobuf<5; python_version < "3.13"
